.author {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.link__loftschool {
    font-weight: 700;
    text-decoration: underline;
    color: #ffffff;
}

.author__name {
    font-weight: 700;   
}