.banner__img {
    width: 740px;
    height: 486px;
    background: url('../../img/decor/banner.jpg') center center no-repeat;
    margin: 0 auto;
    margin-left: 159px;
    padding-top: 78px;
    padding-bottom: 58px;
}