.footer {
    background-color: #131415;
    min-width: 1140px;
    margin-top: -75px;
}

.footer__left {
    float: left;
    max-width: 250px;
    margin-top: 11px;
    margin-bottom: 20px;
}

.footer__right {
    float: right;
    margin-top: 15px;
    margin-right: 51px;
}

.footer__center {
    float: left;
    margin-left: 199px;
    margin-top: 10px;
}