.form {
    width: 700px;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding-left: 70px;
    margin-top: 60px;
}

.form__title {
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 49px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0;
}

.form__row {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    color: #221f1f;
    padding-bottom: 20px;
}

.form__input {
    width: 269px;
    height: 45px;
    background-color: #ffffff;
    opacity: 0.5;
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 54px;
    padding-left: 10px;
}

.form__input-element {
    display: inline-block;
    vertical-align: middle;
}

.form__fields-title {
    display: block;
}

.form__input-vk {
    padding-left: 22px;
}

.form__big-text {
    width: 565px;
    height: 90px;
    border: 1px solid #f89513;
    background-color: #ffffff;
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 54px;
    padding-left: 10px;
}

.form__controls-trigger {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.form__trigger-title {
    display: inline-block;
}

.form__send-btns {
    padding-left: 260px;   
}

.form__send {
    width: 125px;
    height: 45px;
    background-color: #1c1f1d;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 7px;
}

.form__send:hover {
    background-color: #f89513;
}

.form__controls {
    display: inline-block;
    vertical-align: middle;
}

.form__radio {
    display: none;
}

.form__radio_custom {
    width: 12px;
	height: 12px;
	border: 1px solid #ccc;
	border-radius: 50%;
    position: relative;
}

.form__radio_custom, .form__controls-trigger {
    display: inline-block;
    vertical-align: middle;
}

.form__radio:checked + .form__radio_custom::before {
    content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #f89513;
    border-radius: 2px;
}

.form__controls-trigger:hover {
    color: #f89513;
}

.form__radio:checked + .form__radio_custom::before {
    border-radius: 50%;
}

.form__radio:checked ~ .form__trigger-title {
    color: #f89513;
}

.form__radio_custom:hover {
    border: 1px solid #f89513;
}

.form__radio:checked ~ .form__radio_custom {
    border: 1px solid #f89513;
}