.header {
    background-color: #131415;
    padding-top: 16px;
    padding-bottom: 11px;
}

.header__left, .header__center {
    float: left;
}

.header__left {
    margin-right: 197px;
}

.header__right {
    float: right;
    margin-right: 40px;
}