.wrapper__titelseite {
    background-image: url('../../img/decor/gym.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.titelseite__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: flash 3s;
}

.titelseite__logo {
    background: url('../../img/icons/title_logo.png') center center no-repeat;
    width: 160px;
    height: 193px;
    margin-bottom: 40px;
}

.titelseite__link_wrap {
    width: 172px;
    height: 45px;
    background-color: #131415;
    text-align: center;
    border-radius: 5px;    
}

.titelseite__link_wrap:hover {
    background-color: #f89513;
}

.titelseite__link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 45px;
}