.logo a {
    color: #f89513;
    font-family: 'gora_free';
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}