.nav {
    margin-top: 15px;
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__link {
    text-decoration: none;
}

.nav__icon {
    width: 19px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 17px;
    background: url('../../img/icons/sprites_nav.png') 0 0 no-repeat;
    /* transition: .5s; */
    /* cursor: pointer; */
}

.nav__icon_main {
    background-position: -49px -48px;
}

.nav__icon_feed {
    background-position: -50px -10px;
}

.nav__icon_service {
    background-position: -90px -44px;
}

.nav__text {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.nav__link:hover .nav__text {
    color: #f89513;
}

.nav__link:hover .nav__icon_main {
    background-position: -10px -48px;
}

.nav__link:hover .nav__icon_feed {
    background-position: -10px -10px;
}

.nav__link:hover .nav__icon_service {
    background-position: -90px -10px;
}

.nav__link_active .nav__text {
    color: #f89513;
}

.nav__link_active .nav__icon_main {
    background-position: -10px -48px;
}

.nav__link_active .nav__icon_feed {
    background-position: -10px -10px;
}

.nav__link_active .nav__icon_service {
    background-position: -90px -10px;
}