.pagination {
    text-align: center;
    margin-bottom: 50px;
    /* margin-top: 50px; */
}

.pagination__display {
    color: #656464;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-right: 20px;
}

.pagination__display, .pagination__controls {
    display: inline-block;
    vertical-align: middle;
}

.pagination__btn {
    text-decoration: none;
}

.pagination__btn_backward {
    color: #bdbcbc;
}

.pagination__btn_forward {
    color: #262323;
}

.pagination__btn:hover {
    color: #f89513;
}

.pagination__btn, .pagination__list, .pagination__item {
    display: inline-block;
    vertical-align: middle;
}

.pagination__page {
    display: block;
    padding: 7px 0px;
    width: 25px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    color: #221f1f;
}

.pagination__page_active {
    background-color: #27273e;
    color: #f89513;
}

.pagination__page:hover {
    color: #f89513;
}