.partners__title {
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 1.47px;
    margin-top: -15px;
    padding-left: 96px;
}

.partners__list {
    margin-left: 115px;
    margin-bottom: 26px;
}

.partners__item {
    width: 200px;
    height: 65px;
    display: inline-block;
    margin-right: 107px;
    filter: grayscale(100%) opacity(50%);
    transition: 1s;
    cursor: pointer;
    margin-top: 89px;
}

.partners__item:hover {
    filter: none;
}

.partners__item_flamingo {
    background: url('../../img/icons/logo-1.png') center center no-repeat;
}

.partners__item_malibu {
    background: url('../../img/icons/logo-2.png') center center no-repeat;
}

.partners__item_lion {
    background: url('../../img/icons/logo-3.png') center center no-repeat;
}

.partners__item_arni {
    background: url('../../img/icons/logo-4.png') center center no-repeat;
}

.partners__item_grif {
    background: url('../../img/icons/logo-5.png') center center no-repeat;
}

.partners__item_atletik {
    background: url('../../img/icons/logo-6.png') center center no-repeat;
}