.recommendations {
    background-image: url('../../img/decor/pattern.png');
    background-color: #131415;
    padding-top: 22px;
    padding-bottom: 29px;
}

.recommendations__text {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    max-width: 636px;
    margin: 0 auto;
    padding-right: 69px;
}

.application {
    color: #f89513;
    font-weight: 700;
}