.reviews {
    padding-bottom: 30px;
    margin-left: 182px;
}

.reviews__title {
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.45px;
    margin-top: 8px;
}

.reviews__list {
    margin-top: 28px;
}

.reviews__item {
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 34px;
}

.reviews__item:last-child {
    border-bottom: 0;
}

.reviews__items-wrap {
    display: inline-block;
    margin-bottom: 33px;
}

.reviews__avatar_hanmen {
    background: url('../../img/icons/bbqf8j1xb6u-han-vi-ph-m-th.png') center center no-repeat;
}

.reviews__avatar_hanwomen {
    background: url('../../img/icons/k6uxppff8rs-han-vi-ph-m-th.png') center center no-repeat;
}

.reviews__avatar_smart {
    background: url('../../img/icons/vector-smart-object.png') center center no-repeat;
}

.reviews__avatar_scott {
    background: url('../../img/icons/kblifrq1jkg-scott-webb.png') center center no-repeat;
}

.reviews__avatar {
    width: 160px;
    height: 160px;
    background-color: #f5f5f5;
    border-radius: 50%;
    float: left;
    margin-right: 21px;
}

.reviews__text {
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
}

.reviews__data {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 6px;
}

.reviews_name {
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 20px;
}

.reviews__content {
    font-weight: 300;
    line-height: 30px;
}