.services {
    margin-left: 185px;
}

.services__title {
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.47px;
    margin-bottom: 32px;
    margin-top: 8px;
}

.services__item {
    float: left;
    margin-bottom: 45px;
    margin-right: 60px;
}

.services__avatar {
    width: 250px;
    height: 153px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.72px;
    text-align: center;
    position: relative;
}

.services__avatar_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.services__info {
    margin-top: 24px;
    width: 253px;
}

.services__avatar_fitness {
    background: url('../../img/icons/sports-1962574-1920.png') center center no-repeat;
}

.services__avatar_nutritionist {
    background: url('../../img/icons/apple-841169-1920.png') center center no-repeat;
}

.services__avatar_yoga {
    background: url('../../img/icons/yoga-1146277-1920.png') center center no-repeat;
}

.services__avatar_hinges {
    background: url('../../img/icons/trx-1730331-1920.png') center center no-repeat;
}

.services__avatar_crossfit {
    background: url('../../img/icons/women-1621297-1920.png') center center no-repeat;
}

.services__avatar_pool {
    background: url('../../img/icons/swimming-78112-1920.png') center center no-repeat;
}

.services__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}

.services__content {
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}