.social {
    padding-left: 170px;
    padding-bottom: 15px;
}

.social__title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 54px;  
}

.social__items {
    display: inline-block;
}

.social__icons-vk {
    background: url('../../img/icons/vk.png') center center no-repeat;
}

.social__icons-fb {
    background: url('../../img/icons/fb.png') center center no-repeat;
}

.social__icons-google {
    background: url('../../img/icons/google.png') center center no-repeat;
}

.social__icons-twitter {
    background: url('../../img/icons/twitter.png') center center no-repeat;
}

.social__icons-mail {
    background: url('../../img/icons/mail.png') center center no-repeat;
}

.social__icons {
    width: 20px;
    height: 20px;
    background-color: #d0d0d0;
    border-radius: 50%;
}

.social__icons-active {
    background-color: #f89513;
}

.social__icons:hover {
    background-color: #f89513;
}